In [31]:
import pandas as pd
import numpy as np

In [3]:
results_session = pd.read_csv("./da_session.csv")
results_subject = pd.read_csv("./da_subject.csv")

### Cross Session

In [4]:
results_session

,Unnamed: 0,align,no_align,time,distance,n_proj,n_epochs,seed,subject,target_subject,cross_subject,multifreq
0,0,0.797153,0.775801,15.365843,lew,500,500,2473,1,0,False,False
1,1,0.797153,0.775801,15.365843,lew,500,500,2473,1,0,False,False
2,2,0.797153,0.775801,15.365843,lew,500,500,2473,1,0,False,False
3,3,0.797153,0.775801,15.365843,lew,500,500,2473,1,0,False,False
4,4,0.797153,0.775801,15.365843,lew,500,500,2473,1,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,0.750000,0.768939,8.596683,spdsw,500,500,929,9,0,False,False
371,371,0.750000,0.768939,8.596683,spdsw,500,500,929,9,0,False,False
372,372,0.750000,0.768939,8.596683,spdsw,500,500,929,9,0,False,False
373,373,0.750000,0.768939,8.596683,spdsw,500,500,929,9,0,False,False
374,374,0.750000,0.768939,8.596683,spdsw,500,500,929,9,0,False,False

In [9]:
distances = results_session["distance"].unique()
subjects = results_session["subject"].unique()

In [43]:
L_session = {}
for distance in distances:
    L_session[distance] = {}
L_session["no_align"] = {}


for distance in distances:
    for s in subjects:
        dico_distances = {"mean_score": 0, "std_score": 0, "mean_time": 0, "std_time":0}

        scores = results_session[
            (results_session["distance"] == distance)
            & (results_session["subject"] == s)
        ]["align"]
        m_score = scores.mean()
        std_score = scores.std()
        
        times = results_session[
            (results_session["distance"] == distance)
            & (results_session["subject"] == s)
        ]["time"]
        m_t = times.mean()
        std_t = times.std()
        
        dico_distances["mean_score"] = m_score
        dico_distances["std_score"] = std_score
        dico_distances["mean_time"] = m_t
        dico_distances["std_time"] = std_t
        
        L_session[distance][s] = dico_distances
        
        
for s in subjects:
    dico_distances = {"mean_score": 0, "std_score": 0, "mean_time": 0, "std_time":0}

    scores = results_session[
        (results_session["distance"] == distance)
        & (results_session["subject"] == s)
    ]["no_align"]
    m_score = scores.mean()
    std_score = scores.std()

    dico_distances["mean_score"] = m_score
    dico_distances["std_score"] = std_score

    L_session["no_align"][s] = dico_distances

In [44]:
L_session

{'lew': {1: {'mean_score': 0.797153024911032,
   'std_score': 0.0,
   'mean_time': 14.57733449935913,
   'std_time': 0.4087868335345795},
  3: {'mean_score': 0.8424908424908425,
   'std_score': 0.0,
   'mean_time': 14.257566928863525,
   'std_time': 0.07702371871575027},
  7: {'mean_score': 0.7732851985559567,
   'std_score': 0.0014738205431908621,
   'mean_time': 14.611153984069825,
   'std_time': 0.07044683176896759},
  8: {'mean_score': 0.8302583025830258,
   'std_score': 0.0,
   'mean_time': 14.183421277999878,
   'std_time': 0.033073793871795834},
  9: {'mean_score': 0.7492424242424243,
   'std_score': 0.0028930402114620175,
   'mean_time': 13.051070404052734,
   'std_time': 0.051286677483824324}},
 'les': {1: {'mean_score': 0.797153024911032,
   'std_score': 0.0,
   'mean_time': 19.882094144821167,
   'std_time': 0.8658042366445823},
  3: {'mean_score': 0.8424908424908425,
   'std_score': 0.0,
   'mean_time': 19.54542202949524,
   'std_time': 1.1287816102523742},
  7: {'mean_score': 0.7689530685920577,
   'std_score': 1.1331166295920987e-16,
   'mean_time': 15.96901741027832,
   'std_time': 1.3662860375767458},
  8: {'mean_score': 0.8302583025830258,
   'std_score': 0.0,
   'mean_time': 20.46720986366272,
   'std_time': 0.16067633998622174},
  9: {'mean_score': 0.7522727272727273,
   'std_score': 0.00463918511890753,
   'mean_time': 30.688082790374757,
   'std_time': 0.30435884550900716}},
 'spdsw': {1: {'mean_score': 0.7950177935943061,
   'std_score': 0.008777371641132127,
   'mean_time': 8.915159368515015,
   'std_time': 0.02612599420324358},
  3: {'mean_score': 0.8490842490842491,
   'std_score': 0.008655339974821628,
   'mean_time': 8.8683922290802,
   'std_time': 0.006334809729120599},
  7: {'mean_score': 0.7458483754512636,
   'std_score': 0.019580192653758068,
   'mean_time': 8.869594478607178,
   'std_time': 0.011183582961242295},
  8: {'mean_score': 0.8280442804428045,
   'std_score': 0.006566468789687147,
   'mean_time': 8.835149383544922,
   'std_time': 0.009428341008195758},
  9: {'mean_score': 0.7492424242424243,
   'std_score': 0.0037878787878787845,
   'mean_time': 8.584994268417358,
   'std_time': 0.010942488037958267}},
 'no_align': {1: {'mean_score': 0.7758007117437722,
   'std_score': 0.0,
   'mean_time': 0,
   'std_time': 0},
  3: {'mean_score': 0.7655677655677655,
   'std_score': 0.0,
   'mean_time': 0,
   'std_time': 0},
  7: {'mean_score': 0.6902527075812275,
   'std_score': 0.03971119133574008,
   'mean_time': 0,
   'std_time': 0},
  8: {'mean_score': 0.7601476014760148,
   'std_score': 0.0,
   'mean_time': 0,
   'std_time': 0},
  9: {'mean_score': 0.7674242424242423,
   'std_score': 0.003092790079271687,
   'mean_time': 0,
   'std_time': 0}}}

In [54]:
acc_session = np.zeros((len(subjects), len(distances)+1))
t_session = np.zeros((len(subjects), len(distances)))

for i, distance in enumerate(distances):
    for j, s in enumerate(subjects):
        acc_session[j, i] = L_session[distance][s]["mean_score"]
        t_session[j, i] = L_session[distance][s]["mean_time"]
        
distance = "no_align"        
for j, s in enumerate(subjects):
    acc_session[j, -1] = L_session[distance][s]["mean_score"]

In [56]:
pd.DataFrame(acc_session, index=subjects, columns=np.concatenate([distances, ["no_align"]]))

        lew       les     spdsw  no_align
1  0.797153  0.797153  0.795018  0.775801
3  0.842491  0.842491  0.849084  0.765568
7  0.773285  0.768953  0.745848  0.690253
8  0.830258  0.830258  0.828044  0.760148
9  0.749242  0.752273  0.749242  0.767424

In [57]:
pd.DataFrame(t_session, index=subjects, columns=distances)

         lew        les     spdsw
1  14.577334  19.882094  8.915159
3  14.257567  19.545422  8.868392
7  14.611154  15.969017  8.869594
8  14.183421  20.467210  8.835149
9  13.051070  30.688083  8.584994

### Cross Subjects

In [5]:
results_subject

,Unnamed: 0,align,no_align,time,distance,n_proj,n_epochs,seed,subject,target_subject,cross_subject,multifreq
0,0,1.000000,1.000000,0.000000,lew,500,500,2473,1,1,True,False
1,1,0.633333,0.507407,15.164546,lew,500,500,2473,1,3,True,False
2,2,0.483395,0.420664,14.447224,lew,500,500,2473,1,7,True,False
3,3,0.662879,0.356061,14.919306,lew,500,500,2473,1,8,True,False
4,4,0.464135,0.261603,14.286490,lew,500,500,2473,1,9,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,0.410256,0.252747,8.614837,spdsw,500,500,929,9,1,True,False
371,371,0.385185,0.307407,8.602805,spdsw,500,500,929,9,3,True,False
372,372,0.210332,0.247232,8.605646,spdsw,500,500,929,9,7,True,False
373,373,0.488636,0.375000,8.632351,spdsw,500,500,929,9,8,True,False
374,374,1.000000,1.000000,0.000000,spdsw,500,500,929,9,9,True,False

In [58]:
distances = results_subject["distance"].unique()
subjects_src = results_subject["subject"].unique()
subjects_tgt = results_subject["target_subject"].unique()

In [70]:
L_subject = {}
for distance in distances:
    L_subject[distance] = {}
L_subject["no_align"] = {}


for distance in distances:
    for s1 in subjects_src:
        L_subject[distance][s1] = {}
        for s2 in subjects_tgt:
            if s1 != s2:
                L_subject[distance][s1][s2] = {}
        
                scores = results_subject[
                    (results_subject["distance"] == distance)
                    & (results_subject["subject"] == s1)
                    & (results_subject["target_subject"] == s2)
                ]["align"]
                m_score = scores.mean()
                std_score = scores.std()
                
                times = results_subject[
                    (results_subject["distance"] == distance)
                    & (results_subject["subject"] == s1)
                    & (results_subject["target_subject"] == s2)
                ]["time"]
                
                m_t = times.mean()
                std_t = times.std()
                
                L_subject[distance][s1][s2]["mean_score"] = m_score
                L_subject[distance][s1][s2]["std_score"] = std_score
                L_subject[distance][s1][s2]["mean_time"] = m_t
                L_subject[distance][s1][s2]["std_t"] = std_t
        
        
for s1 in subjects_src:
    L_subject["no_align"][s1] = {}
    for s2 in subjects_tgt:
        if s1 != s2:
            dico_distances = {"mean_score": 0, "std_score": 0, "mean_time": 0, "std_time":0}

            scores = results_subject[
                (results_subject["distance"] == distance)
                & (results_subject["subject"] == s1)
                & (results_subject["target_subject"] == s2)
            ]["no_align"]
            m_score = scores.mean()
            std_score = scores.std()

            dico_distances["mean_score"] = m_score
            dico_distances["std_score"] = std_score

            L_subject["no_align"][s1][s2] = dico_distances

In [71]:
L_subject

{'lew': {1: {3: {'mean_score': 0.6333333333333333,
    'std_score': 0.0,
    'mean_time': 14.506327533721924,
    'std_t': 0.37020013167089444},
   7: {'mean_score': 0.4833948339483395,
    'std_score': 0.0,
    'mean_time': 14.345209312438964,
    'std_t': 0.08878611777268253},
   8: {'mean_score': 0.6628787878787878,
    'std_score': 0.0,
    'mean_time': 14.894848394393922,
    'std_t': 0.07626159472480884},
   9: {'mean_score': 0.4641350210970464,
    'std_score': 0.0,
    'mean_time': 14.17175259590149,
    'std_t': 0.10118518932353752}},
  3: {1: {'mean_score': 0.6153846153846154,
    'std_score': 0.0,
    'mean_time': 14.4496515750885,
    'std_t': 0.030167045714461566},
   7: {'mean_score': 0.5756457564575646,
    'std_score': 0.0,
    'mean_time': 14.325219535827637,
    'std_t': 0.0213595518136941},
   8: {'mean_score': 0.6856060606060606,
    'std_score': 0.0,
    'mean_time': 14.729576301574706,
    'std_t': 0.08159189196210861},
   9: {'mean_score': 0.569620253164557,
    'std_score': 0.0,
    'mean_time': 14.191692876815797,
    'std_t': 0.23228803894009115}},
  7: {1: {'mean_score': 0.4183150183150183,
    'std_score': 0.0016381450384613538,
    'mean_time': 14.310231924057007,
    'std_t': 0.24647525701947615},
   3: {'mean_score': 0.5074074074074074,
    'std_score': 0.0,
    'mean_time': 14.412321186065673,
    'std_t': 0.5226954006263994},
   8: {'mean_score': 0.4204545454545454,
    'std_score': 0.0,
    'mean_time': 15.171059131622314,
    'std_t': 0.595908203020981},
   9: {'mean_score': 0.45991561181434604,
    'std_score': 6.206335383118183e-17,
    'mean_time': 14.13735909461975,
    'std_t': 0.08005925436297108}},
  8: {1: {'mean_score': 0.5934065934065934,
    'std_score': 0.0,
    'mean_time': 14.895367431640626,
    'std_t': 0.02128263143295403},
   3: {'mean_score': 0.7185185185185186,
    'std_score': 0.0,
    'mean_time': 14.743852376937866,
    'std_t': 0.07264190261934764},
   7: {'mean_score': 0.4354243542435424,
    'std_score': 0.0,
    'mean_time': 14.979964399337769,
    'std_t': 0.08308178079845577},
   9: {'mean_score': 0.540084388185654,
    'std_score': 0.0,
    'mean_time': 13.495629024505615,
    'std_t': 0.06346798086603102}},
  9: {1: {'mean_score': 0.4293040293040293,
    'std_score': 0.006018929203353485,
    'mean_time': 14.27516860961914,
    'std_t': 0.06597175774363054},
   3: {'mean_score': 0.4496296296296296,
    'std_score': 0.01605887658420654,
    'mean_time': 14.034777688980103,
    'std_t': 0.07845317380456933},
   7: {'mean_score': 0.33653136531365313,
    'std_score': 0.023103285376381576,
    'mean_time': 14.07126169204712,
    'std_t': 0.07400955119001343},
   8: {'mean_score': 0.5424242424242425,
    'std_score': 0.011172637275570161,
    'mean_time': 13.649783420562745,
    'std_t': 0.032811215996893295}}},
 'les': {1: {3: {'mean_score': 0.6333333333333333,
    'std_score': 0.0,
    'mean_time': 17.550160217285157,
    'std_t': 1.2403761997597076},
   7: {'mean_score': 0.47601476014760136,
    'std_score': 6.206335383118183e-17,
    'mean_time': 16.505245018005372,
    'std_t': 1.1462116330713814},
   8: {'mean_score': 0.6666666666666666,
    'std_score': 0.0,
    'mean_time': 17.269075107574462,
    'std_t': 1.0822165713686143},
   9: {'mean_score': 0.4641350210970464,
    'std_score': 0.0,
    'mean_time': 20.038177061080933,
    'std_t': 0.32682942759951367}},
  3: {1: {'mean_score': 0.6153846153846154,
    'std_score': 0.0,
    'mean_time': 18.097751808166503,
    'std_t': 0.582649191301032},
   7: {'mean_score': 0.5793357933579336,
    'std_score': 0.0,
    'mean_time': 16.964358711242674,
    'std_t': 0.11362807661913762},
   8: {'mean_score': 0.6856060606060606,
    'std_score': 0.0,
    'mean_time': 17.99823651313782,
    'std_t': 1.176697604027851},
   9: {'mean_score': 0.5654008438818565,
    'std_score': 0.0,
    'mean_time': 21.11625280380249,
    'std_t': 0.2560536199365687}},
  7: {1: {'mean_score': 0.4175824175824176,
    'std_score': 0.0,
    'mean_time': 16.05410213470459,
    'std_t': 1.0905079913937357},
   3: {'mean_score': 0.5111111111111111,
    'std_score': 0.0,
    'mean_time': 16.406042337417603,
    'std_t': 1.140746677116612},
   8: {'mean_score': 0.4204545454545454,
    'std_score': 0.0,
    'mean_time': 16.702366971969603,
    'std_t': 0.060009895892874365},
   9: {'mean_score': 0.4683544303797468,
    'std_score': 0.0,
    'mean_time': 18.562926626205446,
    'std_t': 0.24000207783929306}},
  8: {1: {'mean_score': 0.5934065934065934,
    'std_score': 0.0,
    'mean_time': 16.892929458618163,
    'std_t': 1.2542314532073595},
   3: {'mean_score': 0.7222222222222222,
    'std_score': 0.0,
    'mean_time': 16.867500162124635,
    'std_t': 1.1527119816885494},
   7: {'mean_score': 0.4354243542435424,
    'std_score': 0.0,
    'mean_time': 16.13563914299011,
    'std_t': 0.9922048853535168},
   9: {'mean_score': 0.540084388185654,
    'std_score': 0.0,
    'mean_time': 18.814249324798585,
    'std_t': 0.9876293760251863}},
  9: {1: {'mean_score': 0.43589743589743585,
    'std_score': 0.012148808755880584,
    'mean_time': 18.943487882614136,
    'std_t': 1.2730831756091054},
   3: {'mean_score': 0.4422222222222222,
    'std_score': 0.014248432638275091,
    'mean_time': 20.679507112503053,
    'std_t': 0.5489908802137343},
   7: {'mean_score': 0.3468634686346863,
    'std_score': 0.0,
    'mean_time': 17.975002145767213,
    'std_t': 1.218897737402999},
   8: {'mean_score': 0.5484848484848485,
    'std_score': 0.010846834138845712,
    'mean_time': 19.974398565292358,
    'std_t': 0.9949212393440483}}},
 'spdsw': {1: {3: {'mean_score': 0.5837037037037037,
    'std_score': 0.04674596437325032,
    'mean_time': 8.896107006072999,
    'std_t': 0.014983686609455517},
   7: {'mean_score': 0.4583025830258302,
    'std_score': 0.01616893158686839,
    'mean_time': 8.860938692092896,
    'std_t': 0.027805315429311864},
   8: {'mean_score': 0.6257575757575757,
    'std_score': 0.026297810541984493,
    'mean_time': 8.894557428359985,
    'std_t': 0.011376485107393131},
   9: {'mean_score': 0.48691983122362864,
    'std_score': 0.017801707265594095,
    'mean_time': 8.727972030639648,
    'std_t': 0.014275248897705806}},
  3: {1: {'mean_score': 0.6043956043956044,
    'std_score': 0.01596666279685227,
    'mean_time': 8.870160150527955,
    'std_t': 0.019508727271245946},
   7: {'mean_score': 0.5025830258302584,
    'std_score': 0.02802971072300065,
    'mean_time': 8.837939023971558,
    'std_t': 0.018139998329948562},
   8: {'mean_score': 0.7022727272727274,
    'std_score': 0.004318846307193701,
    'mean_time': 8.867704963684082,
    'std_t': 0.005838058286806719},
   9: {'mean_score': 0.5274261603375527,
    'std_score': 0.022126768948737364,
    'mean_time': 8.690006828308105,
    'std_t': 0.01901977299480724}},
  7: {1: {'mean_score': 0.4446886446886446,
    'std_score': 0.011755902224088819,
    'mean_time': 8.863671016693115,
    'std_t': 0.018575944146996093},
   3: {'mean_score': 0.5059259259259259,
    'std_score': 0.008919699687994281,
    'mean_time': 8.879435539245605,
    'std_t': 0.020801093661505874},
   8: {'mean_score': 0.3765151515151515,
    'std_score': 0.04628347695183613,
    'mean_time': 8.873264169692993,
    'std_t': 0.008984335323988984},
   9: {'mean_score': 0.43881856540084385,
    'std_score': 0.011934291665595715,
    'mean_time': 8.718124628067017,
    'std_t': 0.02157719313082847}},
  8: {1: {'mean_score': 0.5758241758241759,
    'std_score': 0.03430339858884438,
    'mean_time': 8.825037050247193,
    'std_t': 0.019268964157173885},
   3: {'mean_score': 0.7140740740740741,
    'std_score': 0.013708707795053187,
    'mean_time': 8.86220440864563,
    'std_t': 0.01662300879404148},
   7: {'mean_score': 0.41771217712177117,
    'std_score': 0.004042232896717068,
    'mean_time': 8.800440502166747,
    'std_t': 0.018737227681851976},
   9: {'mean_score': 0.5071729957805906,
    'std_score': 0.023756435882294098,
    'mean_time': 8.651025390625,
    'std_t': 0.012443643001916579}},
  9: {1: {'mean_score': 0.38827838827838823,
    'std_score': 0.022130120830759256,
    'mean_time': 8.603704500198365,
    'std_t': 0.028669054642051543},
   3: {'mean_score': 0.417037037037037,
    'std_score': 0.024651201914509216,
    'mean_time': 8.61808671951294,
    'std_t': 0.023900945957884386},
   7: {'mean_score': 0.2568265682656826,
    'std_score': 0.04708232592689765,
    'mean_time': 8.593026399612427,
    'std_t': 0.03289581118124117},
   8: {'mean_score': 0.4810606060606061,
    'std_score': 0.01672681982259061,
    'mean_time': 8.610453557968139,
    'std_t': 0.020280611329913722}}},
 'no_align': {1: {3: {'mean_score': 0.5074074074074074,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   7: {'mean_score': 0.4206642066420664,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   8: {'mean_score': 0.3560606060606061,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   9: {'mean_score': 0.2616033755274262,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0}},
  3: {1: {'mean_score': 0.326007326007326,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   7: {'mean_score': 0.3136531365313653,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   8: {'mean_score': 0.4886363636363636,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   9: {'mean_score': 0.2658227848101265,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0}},
  7: {1: {'mean_score': 0.4271062271062271,
    'std_score': 0.003276290076922751,
    'mean_time': 0,
    'std_time': 0},
   3: {'mean_score': 0.40740740740740733,
    'std_score': 6.206335383118183e-17,
    'mean_time': 0,
    'std_time': 0},
   8: {'mean_score': 0.2613636363636363,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   9: {'mean_score': 0.2616033755274262,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0}},
  8: {1: {'mean_score': 0.4761904761904761,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   3: {'mean_score': 0.5377777777777777,
    'std_score': 0.00993807989999908,
    'mean_time': 0,
    'std_time': 0},
   7: {'mean_score': 0.2361623616236162,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0},
   9: {'mean_score': 0.350210970464135,
    'std_score': 0.0,
    'mean_time': 0,
    'std_time': 0}},
  9: {1: {'mean_score': 0.25567765567765566,
    'std_score': 0.0016381450384614035,
    'mean_time': 0,
    'std_time': 0},
   3: {'mean_score': 0.30814814814814817,
    'std_score': 0.0016563466499998466,
    'mean_time': 0,
    'std_time': 0},
   7: {'mean_score': 0.24797047970479696,
    'std_score': 0.0016502346697415322,
    'mean_time': 0,
    'std_time': 0},
   8: {'mean_score': 0.37803030303030305,
    'std_score': 0.003169166767174506,
    'mean_time': 0,
    'std_time': 0}}}}

In [90]:
results_mean = np.zeros((len(subjects_src), len(distances)+1))
t_subjects = np.zeros((len(subjects_src), len(distances)))

for l, distance in enumerate(L_subject):
    results = np.zeros((5,5))
    ts = np.zeros((5,5))
    for i, s1 in enumerate(subjects_src):
        for j, s2 in enumerate(subjects_tgt):
            if s1 != s2:
                results[i, j] = L_subject[distance][s1][s2]["mean_score"]
                if distance != "no_align":
                    ts[i, j] = L_subject[distance][s1][s2]["mean_time"]
                
        results_mean[i, l] = np.sum(results[i, :])/4
        
        if distance != "no_align":
            t_subjects[i, l] = np.sum(ts[i, :])/4
                       
    results_pd = pd.DataFrame(results, index=subjects_src, columns=subjects_tgt)
    print(distance)
    print(results_pd)
    print()

lew
          1         3         7         8         9
1  0.000000  0.633333  0.483395  0.662879  0.464135
3  0.615385  0.000000  0.575646  0.685606  0.569620
7  0.418315  0.507407  0.000000  0.420455  0.459916
8  0.593407  0.718519  0.435424  0.000000  0.540084
9  0.429304  0.449630  0.336531  0.542424  0.000000

les
          1         3         7         8         9
1  0.000000  0.633333  0.476015  0.666667  0.464135
3  0.615385  0.000000  0.579336  0.685606  0.565401
7  0.417582  0.511111  0.000000  0.420455  0.468354
8  0.593407  0.722222  0.435424  0.000000  0.540084
9  0.435897  0.442222  0.346863  0.548485  0.000000

spdsw
          1         3         7         8         9
1  0.000000  0.583704  0.458303  0.625758  0.486920
3  0.604396  0.000000  0.502583  0.702273  0.527426
7  0.444689  0.505926  0.000000  0.376515  0.438819
8  0.575824  0.714074  0.417712  0.000000  0.507173
9  0.388278  0.417037  0.256827  0.481061  0.000000

no_align
          1         3         7         8         9
1  0.000000  0.507407  0.420664  0.356061  0.261603
3  0.326007  0.000000  0.313653  0.488636  0.265823
7  0.427106  0.407407  0.000000  0.261364  0.261603
8  0.476190  0.537778  0.236162  0.000000  0.350211
9  0.255678  0.308148  0.247970  0.378030  0.000000

In [83]:
pd.DataFrame(results_mean, index=subjects_src, columns=np.concatenate([distances, ["no_align"]]))

        lew       les     spdsw  no_align
1  0.560935  0.560037  0.538671  0.386434
3  0.611564  0.611432  0.584169  0.348530
7  0.451523  0.454376  0.441487  0.339370
8  0.571858  0.572784  0.553696  0.400085
9  0.439472  0.443367  0.385801  0.297457

In [91]:
pd.DataFrame(t_subjects, index=subjects_src, columns=distances)

         lew        les     spdsw
1  14.479534  17.840664  8.844894
3  14.424035  18.544150  8.816453
7  14.507743  16.931360  8.833624
8  14.528703  17.177580  8.784677
9  14.007748  19.393099  8.606318